<!-- Este HTML contiene estilos del ABOUT (se llamara desde el TEMPLATE del ABOUT.COMPONENT.TS)-->

<!-- El contenido de las clases animated provienen del archivo de estilos globales (STYLES.CSS) -->
<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia culpa magni pariatur quas quo, repellat sed inventore corporis reprehenderit perspiciatis unde harum adipisci aut laborum maxime dolores alias aliquam ipsum!
</p>
